#editor { 
    /* position: absolute; */
    padding-top: 24px;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 15px;

    height: 400px;

    margin-top: 5px;
}

/* hidding the margin line on code editor */
.ace_print-margin{
    visibility: hidden !important;
}

:root{
    /* set the --set-editor-inner-margin-top to set the margin-top on the code editor inner section using the .ace_gutter and .ace_scroller classes */
    --set-editor-inner-margin-top: 20px;
}

/* setting the code line indicator margin and padding */
.ace_gutter{
    margin-top: var(--set-editor-inner-margin-top) !important;
}

/* setting the code editing section margin and padding */
.ace_scroller{
    margin-top: var(--set-editor-inner-margin-top) !important;
}