/* 

==============================================================================================
Project Name: UoB Club Form

Description: This is the UoB club form project. The project is developed for the computer programming club form and the registration process. This will help the club to register online for the users and for the studenst and as usual as the club members. This will help to complete the process in online and help the club to make it automatically and perfectly managed by the club members and the club aurthorities of the computer programming club of UoB ( University of Brahmanbaria ).

Developed by : 
        
        Lokeshwar Deb ( Protik )
        Department: Computer Science and Engineering ( CSE )
        Batch : 232;
        University of Brahmanbaria

        Portfolio : https://lokeshwardebportfolio.epizy.com/
        Github : https://github.com/lokeshwardeb








==============================================================================================

*/




@import url(/assets/css/style.inc.css);